<style>

    .itemStreamVideo{
         width:30vw;
         height:40vh;
         float: left;
         /*-webkit-transition: width 2s;  For Safari 3.1 to 6.0 */
         transition: 1s;
         margin-left: 20px;
         margin-top: 20px;
    }

    .itemRemoveStreamVideo{
        border-color: #333; 
         border-style: solid
    }

    .itemScreenStream{
        border-color: #ccc;
        border-style: solid;
        width: 60vw;
        height: 60vh;
        margin: 0 auto 3px;
        transition: 1s;
    }    
</style>
<!--<script src="/licode/erizo.js" type="text/javascript"></script>
<script src="/javascripts/socket.io.js" type="text/javascript"></script>-->

<navigation></navigation>

<div class="container-fluid body-content main-page" style="padding: 0; margin: 0;">
  <div class="left-menu bottom-right" style="padding-top: 51px">      
      <div class="left-menu-top">
          <b class="title">{{vm.roomJson.name}}</b> <span class="pull-right" title="{{vm.roomJson.islock ? 'Room locked. Click here to unlock!' : 'Room open. Click here to lock!'}}"> <i ng-click="vm.setLock()" class="fa fa-{{vm.roomJson.islock ? 'lock' : 'unlock'}}"></i> </span>
          <hr>
          <p>
            Owner<br>
            <b class="left-un">{{vm.roomJson.user}}</b>
          </p>
          <p>
            Time<br>
            <span class="left-time">10/10 10:10</span>
          </p>
          <p ng-if="vm.roomJson.islock && vm.roomJson.user == vm.currentUser.username" > User Knock <br>
          <button class="btn btn-sm" ng-click="vm.askJoinModal()">View knock request</button> </p>

          <p ng-if="vm.roomJson.user != vm.currentUser.username" > Knock Room <br>
          <button class="btn btn-sm" ng-click="vm.askJoinKnock()"> <!-- <i class="fa fa-bullhorn"></i> --> Knock</button> </p>
          <p ng-show="vm.my.isShowButtonShareScreen">
            Share Screen <br>
            <button id="btnShareScreen" type="button" class="btn btn-sm"  ng-click="vm.Share()">Share Button</button>
          </p>
          
      </div>
      <div class="left-menu-bottom">
        <b class="title">User <span class="count_user"></span></b> <span class="pull-right"> <i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i> </span>
        <hr>
        <div class="user-list" >
          <ul class="user-list-ul">            
            <li ng-repeat="user in vm.ListUser">{{user.name}}  </li>
            <!-- <li ng-repeat="_user in [1,2,3,4,5,6,7,8,9,10]">user {{_user}}  </li> -->
          </ul>

        </div>        
        
      </div>
  </div>
  <div class="col-sm-12 right-content" style="min-height: 500px">
          
          <div class="col-sm-12" id="showShareScreen" ng-cloak ng-show="vm.my.isShowShareScreen">
              
              <div id="screen_stream" class="itemScreenStream">
                  
              </div>
          </div>
          <div class="col-sm-12" id="showVideoConfernce" ng-cloak ng-show="vm.my.isShowVideoConfernce">
              <div class="streamVideo" >
                  <div id="localStream" style="border-color:#f4aa42 ; border-style: solid" class="itemStreamVideo"></div>
              </div> 
          </div>
  </div>  

  <div class="chat-btn" ng-click="vm.openChat()"> <i class="fa fa-commenting"></i> <i id="chat_notify" class="fa fa-asterisk"></i> </div>
  <div class="chat-box" style="display: none;">
    <h3>Chat box</h3>
    <hr>
    <div class="chat-content">
      
      <div class="chat-panner">
        <span>ThanhDC </span> <small>10:20:20</small>: <br>
        <div class="chat-mess">what time is it?</div>
      </div>
      <div class="chat-panner">
        <span>ThanhDC </span> <small>10:20:20</small>: <br>
        <div class="chat-mess">what you name? what you name? what you name? what you name?</div>
      </div>
      <div class="chat-me">
        <small>10:20:20</small> <br>
        <div class="chat-mess">you name? you name? you name? you name?</div>
      </div>
      <div class="chat-me">
        <small>10:20:20</small> <br>
        <div class="chat-mess">you name? you name? you name? you name?</div>
      </div>
      <div class="chat-me">
        <small>10:20:20</small> <br>
        <div class="chat-mess">you name? you name? you name? you name?</div>
      </div>
      <div class="chat-panner">
        <span>ThanhDC </span> <small>10:20:20</small>: <br>
        <div class="chat-mess">what time is it?</div>
      </div>
      <div class="chat-panner">
        <span>ThanhDC </span> <small>10:20:20</small>: <br>
        <div class="chat-mess">what you name? what you name? what you name? what you name?</div>
      </div>

    </div>
    <div class="chat-input">
      <input type="text" id="txtText" placeholder="Enter here.." /> <button class="btn btn-sm" ng-click="vm.sendChat()"> <i class="fa fa-send"></i> </button>
    </div> 
  </div>

</div>

<div id="askPassword" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title"><i class="fa fa-lock"></i> Password protect </h4>
      </div>
      <div class="modal-body">
        <p>This room protect by password, Please enter password to join &hellip;</p>
        <p>
          <input type="password" class="form-control" placeholder="Password" id="passToJoin"></input>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancle()"> <i class="fa fa-reply"></i> Back</button>
        <button type="button" class="btn btn-primary" ng-click="vm.verify()"><i class="fa fa-check"></i> OK</button>
      </div>
    </div>
  </div>
</div>

<div id="askJoin" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title"><i class="fa fa-lock"></i> User knock room </h4>
      </div>
      <div class="modal-body">
        <p>This is list user want to join room, Please <i class="fa fa-check"></i> (accept) or  <i class="fa fa-ban"></i> (denied)</p>
        <p>
          <ul ng-repeat="item in vm.UsersKnock">
                <li><i class="fa fa-bell-o">{{item.username}}</i>
                    <span style="display:block">
                        <button class="btn btn-success" ng-click="vm.AllowJoinRoom(1,item.socket)" style="font-size:12px; padding: 5px 6px; margin-right:5px;">Allow</button>
                        <button class="btn btn-danger" ng-click="vm.AllowJoinRoom(0,item.socket)" style="font-size:12px; padding: 5px 6px; margin-right:5px;">Deny</button>
                    </span> 
                </li>
            </ul>

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> Close</button>        
      </div>
    </div>
  </div>
</div>