<style>

    .itemStreamVideo{
         width:30vw;
         height:40vh;
         float: left;
         /*-webkit-transition: width 2s;  For Safari 3.1 to 6.0 */
         transition: 1s;
         margin-left: 20px;
         margin-top: 20px;
    }

    .itemRemoveStreamVideo{
        border-color: #333; 
         border-style: solid
    }

    .itemScreenStream{
        border-color: #ccc;
        border-style: solid;
        width: 60vw;
        height: 60vh;
        margin: 0 auto 3px;
        transition: 1s;
    }    
</style>
<!--<script src="/licode/erizo.js" type="text/javascript"></script>
<script src="/javascripts/socket.io.js" type="text/javascript"></script>-->

<navigation></navigation>

<div class="container-fluid body-content main-page" style="padding: 0; margin: 0;">
  <div class="left-menu bottom-right" style="padding-top: 51px">      
      <div class="left-menu-top">
          <b class="title">{{vm.roomJson.name}}</b> <span class="pull-right" title="{{vm.roomJson.islock ? 'Room locked. Click here to unlock!' : 'Room open. Click here to lock!'}}"> <i ng-click="vm.setLock()" class="fa fa-{{vm.roomJson.islock ? 'lock' : 'unlock'}}"></i> </span>
          <hr>
          <p>
            Owner<br>
            <b class="left-un">{{vm.roomJson.user}}</b>
          </p>
          <p>
            Time<br>
            <span class="left-time">10:10:10</span>
          </p>
      </div>
      <div class="left-menu-bottom">
        <b class="title">User</b> <span class="pull-right"> <i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i> </span>
        <hr>
        <p class="user-list">
          <ul>            
            <li ng-repeat="user in vm.ListUser">User {{user.name}}</li>            
          </ul>

        </p>

        <!-- <ul>
            <li class="menu_header">User in group</li>          
            <li ng-repeat="user in vm.ListUser"><i class="fa fa-user"></i> User {{user.name}}</li>
            <li class="menu_header">Setting</li>
            <li ng-click="SwitchInputOpen()"><i class="fa fa-plug"></i> Camera/Audio setting </li>
            <li><i class="fa fa-unlock"></i> Log out</li>
          </ul> -->
      </div>
  </div>
  <div class="col-sm-12 right-content" style="min-height: 500px">
          
              <!-- <div class="col-sm-12">
                  <div ng-show="vm.my.isShowEnterUserName">
                      <input type="text" id="inpUserName" />
                      <button type="button" ng-click="vm.accessRoom()">Join</button>
                     
                  </div>
                  <button type="button"  ng-click="test()">Test</button>
                  <button id="btnShareScreen" type="button" ng-cloak ng-show="vm.my.isShowButtonShareScreen" ng-click="vm.Share()">Share Screen</button>
              </div>
              <div class="alert alert-danger" id="errorDiv" role="alert" ng-cloak ng-show="vm.my.isShowError">
                  {{vm.error}}
              </div> -->
          
         <!--  <div class="item-video" ng-repeat="n in [1,2,3]">
              <span class="item-video-name">User n</span>
              <span class="item-video-expand"><i class="fa fa-expand"></i></span>
              <video></video>
              <div class="item-video-control">
                  <button ng-click="Mute(n)"><i class="fa fa-microphone"></i></button>
                  <button ng-click="Vol(n)"><i class="fa fa-volume-up"></i></button>
              </div>
          </div> -->

          <div class="col-sm-12" id="showShareScreen" ng-cloak ng-show="my.isShowShareScreen">
              <div id="screen_stream" class="itemScreenStream">
                  
              </div>
          </div>
          <div class="col-sm-12" id="showVideoConfernce" ng-cloak ng-show="vm.my.isShowVideoConfernce">
              <div class="streamVideo" >
                  <div id="localStream" style="border-color:#f4aa42 ; border-style: solid" class="itemStreamVideo"></div>
              </div> 
          </div>

    </div>  
</div>

<div id="askPassword" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title"><i class="fa fa-lock"></i> Password protect </h4>
      </div>
      <div class="modal-body">
        <p>This room protect by password, Please enter password to join &hellip;</p>
        <p>
          <input type="password" class="form-control" placeholder="Password" id="passToJoin"></input>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancle()"> <i class="fa fa-reply"></i> Back</button>
        <button type="button" class="btn btn-primary" ng-click="vm.verify()"><i class="fa fa-check"></i> OK</button>
      </div>
    </div>
  </div>
</div>