<style>
    /*.streamVideo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-around;
    }*/

    .itemStreamVideo{
         width:30vw;
         height:40vh;
         float: left;
         /*-webkit-transition: width 2s;  For Safari 3.1 to 6.0 */
         transition: 1s;
    }

    .itemRemoveStreamVideo{
        border-color: crimson; 
         border-style: solid
    }

    .itemScreenStream{
        border-color: red;
        border-style: solid;
        width: 60vw;
        height: 60vh;
        margin: 0 auto 3px;
        transition: 1s;
    }    
</style>
<nav class="navbar navbar-default navbar-fixed-top header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand open_left_menu"><i class="fa fa-list"></i></a>
      <a class="navbar-brand" href="#">FConf</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" target="_self">Help</a></li>
        <li><a href="#" target="_self">Guide</a></li>
      </ul>      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acount <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#!/admin/rooms">Admin Page</a></li>
            <li><a href="#">Change name</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container-fluid body-content" style="padding: 0; margin: 0; margin-top: 51px;">
  <div class="left-menu bottom-right">
      <ul>
          <li class="menu_header">User in group</li>
          <li><i class="fa fa-user"></i> <i class="fa fa-map-marker text-success"></i> User <span ng-bind="userID"></span></li>
          <li ng-repeat="user in ListUser"><i class="fa fa-user"></i> User {{user}}</li>
          <li class="menu_header">Setting</li>
          <li ng-click="SwitchInputOpen()"><i class="fa fa-plug"></i> Camera/Audio setting </li>
          <li><i class="fa fa-unlock"></i> Log out</li>
      </ul>
  </div>
  <div class="col-sm-12 right-content" style="min-height: 500px">
          
              <!-- <div class="col-sm-12">
                  <div ng-show="vm.my.isShowEnterUserName">
                      <input type="text" id="inpUserName" />
                      <button type="button" ng-click="vm.accessRoom()">Join</button>
                     
                  </div>
                  <button type="button"  ng-click="test()">Test</button>
                  <button id="btnShareScreen" type="button" ng-cloak ng-show="vm.my.isShowButtonShareScreen" ng-click="vm.Share()">Share Screen</button>
              </div>
              <div class="alert alert-danger" id="errorDiv" role="alert" ng-cloak ng-show="vm.my.isShowError">
                  {{vm.error}}
              </div> -->
          
         <!--  <div class="item-video" ng-repeat="n in [1,2,3]">
              <span class="item-video-name">User n</span>
              <span class="item-video-expand"><i class="fa fa-expand"></i></span>
              <video></video>
              <div class="item-video-control">
                  <button ng-click="Mute(n)"><i class="fa fa-microphone"></i></button>
                  <button ng-click="Vol(n)"><i class="fa fa-volume-up"></i></button>
              </div>
          </div> -->

          <div class="col-sm-12" id="showShareScreen" ng-cloak ng-show="my.isShowShareScreen">
              <div id="screen_stream" class="itemScreenStream">
                  
              </div>
          </div>
          <div class="col-sm-12" id="showVideoConfernce" ng-cloak ng-show="vm.my.isShowVideoConfernce">
              <div class="streamVideo" >
                  <div id="localStream" style="border-color:#f4aa42 ; border-style: solid" class="itemStreamVideo"></div>
              </div> 
          </div>

    </div>  
</div>

<footer class="footer">
    <p>&copy; FConference</p>
</footer>

<script type="text/javascript">

  $(document).ready(function() {
    var main_height = $(window).height() - $('.header').outerHeight() - $('.footer').outerHeight() - 15;
    $('.body-content').height(main_height);
    
    var mid = $('.body-content').height()/2 - 40;
    console.log(mid);
    $('.main-link').css("margin-top", mid + 'px');
  });


  var _open_left_menu = false;
  $('.open_left_menu').click(function (event) {
        event.stopPropagation();
        if (!_open_left_menu) {
            $('.left-menu').animate({ "margin-left": '+=230' });
            //$('.right-content').css('margin-right', '-230px');
            $('.right-content').animate({ "width": '-=230' });
            _open_left_menu = true;
        } else {
            //$('.right-content').css('margin-right', '0px');
            $('.right-content').animate({ "width": '+=230' });
            $('.left-menu').animate({ "margin-left": '-=230' });
            _open_left_menu = false;
        }
    });
  $(document).on("click", "body", function (event) {
        event.preventDefault();
        //$(event.target).is('.open_left_menu')

        if (_open_left_menu) {
            //$('.right-content').css('margin-right', '0px');
            $('.right-content').animate({ "width": '+=230' });
            $('.left-menu').animate({ "margin-left": '-=230' });
            _open_left_menu = false;
        }
    });
</script>