body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.body-content {
	margin-top: 51px;
	padding: 15px 0; 
}

.navbar-default .navbar-nav > li a:hover {
	background-color: #ccc;
}

.body-content {
    min-height: 500px;
    /*background-color:#efefef;*/
    background: linear-gradient(to bottom right, rgba(240,240,240, 0.5) 0%, rgba(200,200,200, 0.5) 100%);
   background: -webkit-linear-gradient(left top, rgba(240,240,240, 0.5) 0%, rgba(200,200,200, 0.5) 100%);
   background: -moz-linear-gradient(bottom right, rgba(240,240,240, 0.5) 0%, rgba(200,200,200, 0.5) 100%);   
}
.block-content {
	background-color: #fff;
	padding: 10px;
	margin-top: 10px;
}

.main-page {
   position: relative;
}
.main-page:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/bg.jpg); 
    background-position: center;
	background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}

.left-menu {
    background-color: #fdfdfd; /*rgba(128,128,128,0.2);*/
    margin-left: -230px;
    left:0;
    width: 230px;
    float: left;
    height: 100%;
}
.left-menu ul {
    list-style: none;
    padding:0;
    margin-top:0px;
}
.left-menu ul li{
    list-style: none;
    padding:10px 10px;
    cursor:pointer;
    border-left: 2px solid #fdfdfd;
}
.left-menu ul li:hover {
    background-color: #efefef;
    border-left: 3px solid #3c8dbc;
}
.left-menu ul .menu_header {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fafafa;
    cursor: initial;
    font-size:small;
}
.right-menu {
	height: 100%;
}

.open_left_menu {
    float: left;    
    cursor: pointer;
    padding-left: 15px;
}
.open_left_menu:hover {    
	padding-left: 18px;
}

a, i, span, .item-video, .open_left_menu,
.item-video-expand, .item-video-control, ul, li,
button, control-btn {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;    
}

/* item video */
.item-video {
    float: left;
    position: relative;
    margin: 5px;
    border: solid 1px #ccc;
    border-radius:  4px;
    background-color: #fdfdfd;
}
.item-video:hover .item-video-expand {
    display: block;
}
/*.item-video:hover .item-video-control {
    display: block;
}*/
.item-video video, .item-video audio {
    min-height: 100px;
    min-width: 150px;
    max-width: 350px;
    max-height:300px;
}
.item-video .item-video-expand {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(180,180,180,0.3);
    z-index:10;
    cursor: pointer;
    display: none;
}
.item-video .item-video-name {
    position: absolute;
    left: 0;
    top: 0;
    padding:5px 10px;    
    cursor: pointer;
    background-color: rgba(200,200,200,0.2);
    z-index:10;
    cursor: pointer;
}
.item-video .item-video-control {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(180,180,180,0.3);
    height: 30px;
    text-align:center;
    display: none;
}
.item-video .item-video-control button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer {
	padding: 10px;
}

.form-table {

}
.form-table tr td {
	border-top: none !important;
}